/*
 * Thanks to the Noto Project people and to Google Inc. for making this font
 * available under SIL Open Font License, and to Monotype for creating it.
 */

@font-face {
    font-family: 'Noto Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('index_sans_r_400.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('index_sans_r_700.woff2') format('woff2');
}

:root {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2em;

    --fg-light: DarkSlateGray;
    --bg-light: Gainsboro;
    --bookmark-fg-light: var(--fg-light);
    --bookmark-bg-light: LightSteelBlue;
    --bookmark-hover-fg-light: var(--fg-light);
    --bookmark-hover-bg-light: DeepSkyBlue;

    --fg-dark: Gainsboro;
    --bg-dark: DarkSlateGray;
    --bookmark-fg-dark: var(--fg-dark);
    --bookmark-bg-dark: DimGray;
    --bookmark-hover-fg-dark: var(--fg_dark);
    --bookmark-hover-bg-dark: Gray;

    /* Default color scheme is light. */
    --fg: var(--fg-light);
    --bg: var(--bg-light);
    --bookmark-fg: var(--bookmark-fg-light);
    --bookmark-bg: var(--bookmark-bg-light);
    --bookmark-hover-fg: var(--bookmark-hover-fg-light);
    --bookmark-hover-bg: var(--bookmark-hover-bg-light);
}

/* Dark color scheme. */
@media (prefers-color-scheme: dark) {
    :root {
        --fg: var(--fg-dark);
        --bg: var(--bg-dark);
        --bookmark-fg: var(--bookmark-fg-dark);
        --bookmark-bg: var(--bookmark-bg-dark);
        --bookmark-hover-fg: var(--bookmark-hover-fg-dark);
        --bookmark-hover-bg: var(--bookmark-hover-bg-dark);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    width: 100vw;
    margin: 0;
    padding: 0;
    min-width: fit-content;
}

body {
    width: fit-content;
    height: 100%;
    margin: 0;
    padding-top: max(env(safe-area-inset-top, 1em), 1em);
    padding-right: max(env(safe-area-inset-right, 1em), 1em);
    padding-bottom: max(env(safe-area-inset-bottom, 1em), 1em);
    padding-left: max(env(safe-area-inset-left, 1em), 1em);
    color: var(--fg);
    background-color: var(--bg);
    overflow-x: hidden;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--fg);
}

header {
    font-size: 3em;
    margin: 1rem;
    font-weight: 700;
    white-space: nowrap;
}

header * {
    vertical-align: middle;
}

header img {
    max-width: 1em;
}

header a:hover {
    background-color: initial;
}

header p {
    font-size: .25em;
    font-weight: 400;
    margin: 0;
}

hr {
    height: 1px;
    border: none;
    margin-left: 0;
    background-image: linear-gradient(to right, var(--fg) 10%, var(--bg));
}

summary:focus-visible, .bookmarks > a:focus-visible {
    outline: none;
    box-shadow: 0 0 .25em var(--fg);
}

.bookmarks {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .75em;
}

.bookmarks > a {
    display: block;
    color: var(--bookmark-fg);
    background-color: var(--bookmark-bg);
    line-height: 1.5em;
    white-space: nowrap;
    padding: 0.5em;
    border-radius: 0.25em;
    transition: background-color 250ms ease-in-out;
}

.bookmarks > a:hover {
    background-color: var(--bookmark-hover-bg);
}

.bookmarks > a > img {
    height: 32px;
    width: auto;
    vertical-align: middle;
    padding-right: .5em;
}

details > .bookmarks {
    margin: 1em 0;
    margin-left: 1.5em;
}

details:not([open]):hover > summary, details[open] > summary {
    font-weight: 700;
    padding-left: 1em;
}

summary {
    transition: padding-left 250ms ease-in-out;
    cursor: pointer;
    border-radius: 0.25em;
    margin: 0 0.5em;
    padding: 0.25em 0.5em;
}

span.emoji {
    display: inline-block;
    width: 2em;
}